.lead {
  min-height: 632px;
}

.lead__title {
  max-width: 555px;
  width: 100%;
  font-size: 48px;
  line-height: 58px;
  font-family: 'Philosopher';
  font-weight: bold;
  margin: 160px 0 0;
  text-shadow: 1px 1px #fff;
}

.lead__subtitle {
  max-width: 555px;
  width: 100%;
  margin: 42px 0 50px;
  text-shadow: 1px 1px #fff;
}

.lead__image {
  position: absolute;
  max-width: 670px;
  width: 100%;
  margin: 30px 0 0;
  right: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .lead {
    position: relative;
    min-height: 350px;
  }

  .lead__title {
    margin: 70px 0 0;
    font-size: 36px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 14px;
    line-height: 18px;;
  }
}

@media (max-width: 425px) {
  .lead {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}