.logo {
  border-radius: 50%;
}

.logo_place_header {
  margin: 0 35px 0 0;
  width: 44px;
  height: 43px;
}

.logo_place_footer {
  width: 61px;
  height: 60px;
}

@media (max-width: 425px) {
  .logo_place_footer {
    margin: 0 auto;
  }
}